[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Damon Hu (dapenghu)
[access "refs/for/refs/*"]
	read = group user/Damon Hu (dapenghu)
	push = group user/Damon Hu (dapenghu)
	label-Code-Review = -2..+2 group user/Damon Hu (dapenghu)
	label-Verified = -1..+1 group user/Damon Hu (dapenghu)
	rebase = group user/Damon Hu (dapenghu)
	removeReviewer = group user/Damon Hu (dapenghu)
	submit = group user/Damon Hu (dapenghu)
[access "refs/heads/*"]
	read = group user/Damon Hu (dapenghu)
	create = group user/Damon Hu (dapenghu)
	push = +force group user/Damon Hu (dapenghu)
	pushMerge = group user/Damon Hu (dapenghu)
[access "refs/tags/*"]
	push = +force group user/Damon Hu (dapenghu)
	pushTag = group user/Damon Hu (dapenghu)
	pushSignedTag = group user/Damon Hu (dapenghu)
